.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


#search{
	font-size: 1.5em;
	background: linear-gradient(21deg, #fff, #fff);	
	padding: 3px;	
	display: inline-block;	
    border-radius: 9999em;
    width: 60vh;
}


h1{
    display: flex;
    justify-content: center;
}

#submit{
    display: block;
}